@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Lato:400,700|Press+Start+2P&display=swap&subset=latin-ext');


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  
}
.site__header {

}
.navigation {

}
.navigation__list {
    list-style: none;
    margin: auto;
    padding: 0;
    height: 80px;
    weight: 600px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: 'Lato';

}

.navigation__item{
    display: block;
    margin: 0 16px;
    margin-top: 10px;
    margin-right: 53px;
    display: flex;
    align-items: flex-start;


}
.site__header {
}

.header__title{
  background-image: url('../img/header3b.png');
}
.header__content{
    font-family: 'Lato';
}

.header__picture{
  height: 400;
    max-width: 1250px;
    margin-left: 15px;

    display: block;
}

.header__title{
    font-family: 'Roboto Slab', serif;
    
}

.about__programmer{

}
.about__header{

}
.about__paragraph {

}



.about__picture {
    width: 100%;
    max-width: 110px;
    display: block;
    float: left;
    margin: 5px 16px 16px 0px;
    
}

.joanna{

}
.rita {

}
.steps {

}
.list {

}
.roman {

}
.samuraj {

}
.interview__header {

}
.interview__paragraph {

}

.grid__joanna {

}

.grid__rita {

}
.grid__roman {

}

.grid__samuraj {

}

@media (max-width: 640px) {
  .grid__joanna, .grid__rita, .grid__roman, .grid__samuraj {
      grid-template-columns: 1fr;
  }
}